/* Fonts */
.source-sans { 
  font-family: 'Source Sans Pro', sans-serif;
}

/* body, headers, other, */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 16px !important;
}

.caroline-head {
    color: white;
    font-family: 'BebasNeue', 'Source Sans Pro', sans-serif;
    font-size: 500%;
}

.caroline-subhead { 
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 25px;
}

.subhead {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.title-container {
  margin: 30px;
  padding-left: 20px;
  font-family: 'BebasNeue', 'Source Sans Pro', sans-serif;
  font-size: 35pt;
  color: gray;
}

.footer p {
  font-style: italic;
  font-size: 24px;
}

.footer-number {
  font-size: 18px;
}

.bold {
    font-weight:bold;
}

.white {
  color: white !important;
}

.tint {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);    
}

.margin-adjust { 
  margin: 0px 20%;
}

/* Navigation */
.nav-item {
  font-weight: bold;
  font-size: 15px;
  color: white !important;
}

.nav-item:hover {
  font-weight: bold;
  color:gray !important;
}

/* Panels */
#cover-bg{
  /* background-image: url('./images/bg1.png'); 
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover; */
  /* background-color: #00D9C1; */
  background-color: #40b191;
}

/* Video */
#video {
  background-color: whitesmoke;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  width: 100%;
  left: 0;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute;
  width: 66%; 
  height: 70%;
  text-align: center;
  left: 18%;
}

/* About */
#about {
  color: white;
  background-color: #F0652F;
  font-size: 16px;
}

#caroline-photo {
  float: left;
  margin: 30px;
  width: 33%;
  height: auto;
  border-radius: 50%;
}

/* Stats */
#stats {
  /* background-color: #246DBC; */
  background-color: #FF9E47;
  color: white;
}

.stat-number {
  font-family: 'BebasNeue', 'Source Sans Pro', sans-serif;
  font-size: 50pt;
  color: white;

}

.stat-cont {
  margin: 50px;
}

.stat-desc {
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.stat-src {
  color: #979797;
}

#chialpha {
  
}

/* Buttons */
.btn {
  border: none;
  font-family: 'BebasNeue', 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 45px;
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
  border-radius: 30px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 2px solid #00B293;
  color: #00B293;
}

.btn-1a:hover,
.btn-1a:active {
  color: white;
  background: #00B293;
}

.btn-2 {
  border: 1px solid white;
  color: white;
}

.btn-2a:hover,
.btn-2a:active {
  color: #00B293;
  background: white;
}

@media (max-width: 700px) {
  #caroline-photo {
    float: left;
    margin: 30px;
    width: 85%;
    height: auto;
  }
  .caroline-head {
    font-size: 400%;
  }
  .caroline-subhead { 
    font-size: 22px;
  }
}
